<.header>
  Edit Income {@income.id}
  <:subtitle>Use this form to manage income records in your database.</:subtitle>
</.header>

<.income_form changeset={@changeset} action={~p"/income/#{@income}"} />

<.back navigate={~p"/income"}>Back to income</.back>
