<div class="flex items-center justify-center min-h-screen">
  <div class="text-center">
    <.header>
      <:actions>
        <.link href={~p"/income/"}>
          <.button>Income</.button>
        </.link>
      </:actions>
      <:actions>
        <.link href={~p"/envelopes/"}>
          <.button>Envelopes</.button>
        </.link>
      </:actions>
    </.header>
  </div>
</div>
