<.header>
  New Envelope
  <:subtitle>Use this form to manage envelope records in your database.</:subtitle>
</.header>

<.envelope_form changeset={@changeset} action={~p"/envelopes"} />

<.back navigate={~p"/envelopes"}>Back to envelopes</.back>
